<div class="movie-card-container">
    <mat-card *ngFor="let movie of movies;" class="movie-card">
        <mat-card-header class="card-header">
            <mat-card-title class="card-title">{{movie.Title}}</mat-card-title>
            <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src={{movie.ImagePath}} alt= {{movie.Title}} />
        <mat-card-actions class="actions">
            <button
                mat-button
                color="primary"
            >
                Genre
            </button>
            <button
                mat-button
                color="primary"
            >
                Director
            </button>
            <button
                mat-button
                color="primary"
            >
                Synopsis
            </button>
            <mat-icon color="primary">favorite_border</mat-icon>
        </mat-card-actions>
    </mat-card>
</div>